@model FunkyFadz.Models.FunkyFadzDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FunkyFadzDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FunkyFadzId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunkyFadzId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FadType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FadType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FunkyFadzId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
